<ion-view title="AddContact" id="page14">
  <ion-content padding="true" class="has-header">
    <ion-list id="addContact-list9">
      <ion-item class="item-thumbnail-left" id="addContact-list-item40"></ion-item>
      <label class="item item-input" id="addContact-input5">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
    <form id="addContact-form5" class="list">
      <label class="item item-input" id="addContact-input6">
        <span class="input-label">Number</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="addContact-button34" class="button button-positive button-block">Add to Contacts</button>
  </ion-content>
</ion-view>