<ion-view title="C" id="page13" style="background-color:#E7E4E7;">
  <ion-content padding="true" class="has-header">
    <ion-list id="c-list7">
      <ion-item class="item-thumbnail-left dark" id="c-list-item39">
        <img src="img/CFx7fZ2RQ2mKcwXMJeTT_C.jpg">
        <h2dark>C</h2dark>
      </ion-item>
      <label class="item item-input" id="c-textarea13">
        <span class="input-label">+639 123 9999</span><textarea placeholder=""></textarea></label>
    </ion-list>
    <div id="c-button-bar2" class="button-bar">
      <a href="mailto:" id="c-button19" class="button button-stable button-block">Message</a>
      <a href="tel:" id="c-button20" class="button button-stable button-block">Call</a>
    </div>
    <button id="c-button11" class="button button-positive button-block">Edit Contact</button>
    <button id="c-button12" class="button button-positive button-block">Delete Contact</button>
  </ion-content>
</ion-view>