<ion-view title="Chanix" id="page11" style="background-color:#E7E4E7;">
  <ion-content padding="true" class="has-header">
    <ion-list id="chanix-list5">
      <ion-item class="item-thumbnail-left dark" id="chanix-list-item37">
        <img src="img/zkxRz4kUSFeME4ofbVsU_noy.jpg">
        <h2dark>Chanix</h2dark>
      </ion-item>
      <label class="item item-input" id="chanix-textarea11">
        <span class="input-label">+639 999 9998</span><textarea placeholder=""></textarea></label>
    </ion-list>
    <div id="chanix-button-bar5" class="button-bar">
      <a href="mailto:" id="chanix-button28" class="button button-stable button-block">Message</a>
      <a href="tel:" id="chanix-button29" class="button button-stable button-block">Call</a>
    </div>
    <button id="chanix-button7" class="button button-positive button-block">Edit Contact</button>
    <button id="chanix-button8" class="button button-positive button-block">Delete Contact</button>
  </ion-content>
</ion-view>