<ion-view title="Itan" id="page10" style="background-color:#E7E4E7;">
  <ion-content padding="true" class="has-header">
    <ion-list id="itan-list4">
      <ion-item class="item-thumbnail-left dark" id="itan-list-item36">
        <img src="img/oywtjutoQ7aqelnkdFoq_dut.jpg">
        <h2dark>Itan</h2dark>
      </ion-item>
      <label class="item item-input" id="itan-textarea10">
        <span class="input-label">+639 999 9990</span><textarea placeholder=""></textarea></label>
    </ion-list>
    <div id="itan-button-bar6" class="button-bar">
      <a href="mailto:" id="itan-button31" class="button button-stable button-block">Message</a>
      <a href="tel:" id="itan-button32" class="button button-stable button-block">Call</a>
    </div>
    <button id="itan-button5" class="button button-positive button-block">Edit Contact</button>
    <button id="itan-button6" class="button button-positive button-block">Delete Contact</button>
  </ion-content>
</ion-view>