<ion-view title="Page" id="page9">
  <ion-content padding="true" class="has-header">
    <h1 id="page-heading2" style="color:#000000;">Contacts</h1>
    <form id="page-form3" class="list">
      <ion-item class="item-avatar" id="page-list-item30">
        <img src="img/gdkwSFBhS2CWaMVtHv1c_JAMES.jpg">
        <h2>My Number: +639 999 9999</h2>
      </ion-item>
      <label class="item item-input" id="page-search2" name="Search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search ">
      </label>
      <ion-item id="page-list-item31" ui-sref="ramram1()">Ramram</ion-item>
      <ion-item id="page-list-item32" ui-sref="itan()">Itan</ion-item>
      <ion-item id="page-list-item33" ui-sref="chanix()">Chanix</ion-item>
      <ion-item id="page-list-item34" ui-sref="rax()">Rax</ion-item>
      <ion-item id="page-list-item35" ui-sref="c()">C</ion-item>
      <a ui-sref="addContact()" id="page-button4" class="button button-dark button-block">Add contact</a>
    </form>
  </ion-content>
</ion-view>