<ion-view title="Ramram1" id="page3" style="background-color:#E7E4E7;">
  <ion-content padding="true" class="has-header">
    <ion-list id="ramram1-list3">
      <ion-item class="item-thumbnail-left dark" id="ramram1-list-item23">
        <img src="img/Wi8iJ0nLSmnvYvzZB40W_willie.png">
        <h2dark>Ramram</h2dark>
      </ion-item>
      <label class="item item-input" id="ramram1-textarea7">
        <span class="input-label">+639 999 9999</span><textarea placeholder=""></textarea></label>
    </ion-list>
    <div id="ramram1-button-bar1" class="button-bar">
      <a href="mailto:" id="ramram1-button16" class="button button-light button-block">Message</a>
      <a href="tel:" id="ramram1-button17" class="button button-light button-block">Call</a>
    </div>
    <button id="ramram1-button2" class="button button-positive button-block">Edit Contact</button>
    <button id="ramram1-button1" class="button button-positive button-block">Delete Contact</button>
  </ion-content>
</ion-view>