<ion-view title="Rax" id="page12" style="background-color:#E7E4E7;">
  <ion-content padding="true" class="has-header">
    <ion-list id="rax-list6">
      <ion-item class="item-thumbnail-left dark" id="rax-list-item38">
        <img src="img/68gGN69LRXS0jCUZg77M_en.jpg">
        <h2dark>Rax</h2dark>
      </ion-item>
      <label class="item item-input" id="rax-textarea12">
        <span class="input-label">+639 999 8888</span><textarea placeholder=""></textarea></label>
    </ion-list>
    <div id="rax-button-bar3" class="button-bar">
      <a href="mailto:" id="rax-button22" class="button button-stable button-block">Message</a>
      <a href="tel:" id="rax-button23" class="button button-stable button-block">Call</a>
    </div>
    <button id="rax-button9" class="button button-positive button-block">Edit Contact</button>
    <button id="rax-button10" class="button button-positive button-block">Delete Contact</button>
  </ion-content>
</ion-view>